@font-face {
  font-family: 'jiji';
  src: url(../Fuentes/Capture\ it.ttf);
  font-weight: bold;
  font-style: bold;
}
body{
  background-image: url(../imagen/fondo/Bugatti.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

}
.cabeza{
  display: flex;
  align-items: center;
  background-color: rgb(1, 1, 1, 0.7);  
  z-index: 2;
  width: 100%;
}
#wsp {
  width: 40px;
  height: 40px;
  display: block;
  margin: auto; 
}

#numero{
  width: 40px;
  margin-left: 950px;
}
.cabeza img{
margin-left: 20px;
  width: 40px;
  height: 45px;
  float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    
  }
  
  li {
    font-family: 'Nombre de la Fuente', sans-serif;
    position: relative;
    display: inline-block;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.5s ease;
    font-size: 20px;
  }
  
  li a:hover {
    background-color: #685cfe;
    display: block;
    border-radius: 10px;
  }


  ul.submenu {
    display: none;
    position: absolute;
    background-color: rgb(1, 1, 1, 0.7); 
    min-width: 160px;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 10px;
  }
  
  li:hover .submenu {
    display: block;
    opacity: 1; 
    z-index: 2;
  }
  
  li.submenu-item {
    display: block;
  }
  video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  .capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    background-color: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
  }
footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor{
position: relative;
margin-bottom: 600px;
}
.contenedor .slider{
  display: flex;
  background-color:  rgb(1, 1, 1, 0.7);
  padding: 2px;
  border-radius: 20px;
  width: 800px;
  height: 150px;
  overflow: hidden;
  scroll-behavior: smooth;

}
.contenedor .slider img{
  margin: 5px;
  object-fit: cover;
  border-radius: 10px;
  width: 200px;
  height: 140px;
}
.contenedor .control{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(4, 4, 13);
  cursor: pointer;
  object-fit: contain;
  padding: 10px;
}
.contenedor .prev {
  left: 0;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: 0.5s;
}
.prev:hover{
  background-color: #685cfe;
}
.next:hover{
  background-color: #685cfe;
}

.contenedor .next {
  right: 0;
  top: 50%;
  transform: translate(50%,-50%);
  transition: 0.5s;
}
header{
  display: flex;
  justify-content: center;
  margin-top: 250px;
  align-items: center;
  font-family: "Raleway",Arial sans-serif;
}
.card{
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
  transition: 0.3s;
  padding: 30px 50px; 
  background-color: rgb(1, 1, 1, 0.7); 
  cursor: pointer;
  overflow: visible;
  margin:  0 50px;
}
.card:hover{
  height: 450px;
}
.imgbox{
position: relative;
width: 100%;
height: 100%;
transform: translateY(-50px);
border-radius: 5px;
z-index: 99;
}
.card img{
  width: 100%;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
  border-radius: 10px;
}
.contenido{
  padding: 10px 20px;
  text-align: center;
  transform: translateY(-600px);
  opacity: 0;
  transition: 0.3s;
}
.card:hover > .contenido{
  opacity: 1;
  transform: translateY(-240px);
}
.contenido h2{
  color: #685cfe;
  font-family: 'jiji';
}
.P1{
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header2{
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  align-items: center;
  font-family: "Raleway",Arial sans-serif;
}






